.format {
  margin: 100px auto;
  width: 75%;
  background-color: #e5f3ed;
  border-radius: 15px;
  /* border: #082213;
  border-style: solid;
  border-width: thin; */
  box-shadow: 0 0 10px 1px rgba(8, 34, 19, 0.25);
}

.about {
  width: 90%;
  padding: 30px;
}


.main-pic img{
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;

  position: relative;
  overflow: hidden;
  border: #082213;
  border-radius: 50%;
  border-style: solid;
}


.paragraph h1 {
  font-size: 50px;
  padding: 5px;
  color: #082213;
}

#card-holder {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  /* background-color: #638bb3; */
}

#title-placement {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

#title-placement p {
  font-size: 36px;
  color: #002A00;
}

.card {
  min-width: 300px;
  display: flex;
  flex-direction: column;

  height: 300px;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  margin-top: 0;
  margin: 50px;

}

.proj-img {
  display: block;
  height: 75%;
  margin: auto;
}

.proj-title {
  text-align: center;
  font-size: 24px;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0px;
  width: 100vw;
  background-color: #082213;
  z-index: 1;
}

/* .header img {
  height: 20%;
  width: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

.start {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;

  img {
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .copy {
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 1.4rem;
      text-align: center;
    }
  }

  button {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
  }

  .App {
    position: relative;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
  }
}